In [1]:
#Librerias
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import time
import locale
locale.setlocale(locale.LC_ALL, '')  # Use '' for auto, or force e.g. to 'en_US.UTF-8'

%matplotlib inline

In [4]:
ab_item_fact = pd.read_csv('data/ab_item_fact.csv',header=0,sep=';')
ab_item_fact.head()
ab_item_fact.reset_index(inplace=True)
ab_item_fact.drop(['Unnamed: 0'],inplace=True, axis=1)
ab_item_fact.head()

   index  item_id_x  item_id_y  sales_return_document_num
0      0        121        317                          1
1      1        121        350                          1
2      2        121        352                          8
3      3        121        799                          3
4      4        121        818                          2

In [5]:
items = pd.read_csv('data/product.csv',sep=';',header=0,index_col=False)
items.head()

,item_id,product_id,sku_id,fl_precio_cmr,precio_normal,brand,available_stock,web_category_name,sales_quantity,desc_words
0,100052,1000527,1000527,NaN,3690.0,Idaf,0.0,Sujetadores,C/U,"['Trabador', 'de', 'ventana', '6', 'cm']"
1,100053,1000535,1000535,NaN,11890.0,Idaf,0.0,Bisagras Retén para muebles,PAR,"['Escuadra', 'plegable', '25x25', 'cm']"
2,100064,1000640,1000640,NaN,16990.0,Bauker,45.0,Accesorios para soldar,C/U,"['Sujetador', 'magnético', '85x85', 'mm']"
3,100065,1000659,1000659,NaN,34890.0,Bauker,678.0,Accesorios para soldar,C/U,"['Sujetador', 'magnético', '110x110', 'mm']"
4,10009,100099,100099,NaN,4990.0,C,1976.0,Plafones,C/U,"['Plafón', '28,3', 'cm', '60', 'W']"

In [6]:
df_q_relations= ab_item_fact.groupby(['item_id_x']).agg({'item_id_y':pd.Series.nunique})
df_q_relations.reset_index(inplace=True)
rename_col = {'item_id_x':'item_id','item_id_y':'q_rel'}
df_q_relations.rename(columns=rename_col, inplace=True)
df_q_relations.head()

   item_id  q_rel
0      121   1331
1      125     18
2      140    649
3      145    262
4      150    350

In [13]:
df_q_relations = pd.merge(df_q_relations,items[['item_id','web_category_name']],on=['item_id'],how='left')

In [8]:
df_q_relations.drop(df_q_relations[df_q_relations['web_category_name'].isnull()].index, inplace=True)

In [17]:
df_q_relations.head()

   item_id  q_rel          web_category_name_x          web_category_name_y
0      121   1331                   Hortalizas                   Hortalizas
1      125     18                  Generadores                  Generadores
2      140    649    Consumo Eficiente de Agua    Consumo Eficiente de Agua
3      155    203     Adornos y Topes de Árbol     Adornos y Topes de Árbol
4      161    844  Mulch, Cortezas y Gravillas  Mulch, Cortezas y Gravillas

In [10]:
df_q_relations['q_rel'].describe()

count    41895.000000
mean       376.740828
std        822.485935
min          1.000000
25%         12.000000
50%         83.000000
75%        369.000000
max      17687.000000
Name: q_rel, dtype: float64

In [18]:
df_q_relations.head()

   item_id  q_rel          web_category_name_x          web_category_name_y
0      121   1331                   Hortalizas                   Hortalizas
1      125     18                  Generadores                  Generadores
2      140    649    Consumo Eficiente de Agua    Consumo Eficiente de Agua
3      155    203     Adornos y Topes de Árbol     Adornos y Topes de Árbol
4      161    844  Mulch, Cortezas y Gravillas  Mulch, Cortezas y Gravillas

In [15]:
df_graph = df_q_relations[(df_q_relations['q_rel']>=12) & (df_q_relations['q_rel']<=100)]['']

In [16]:
df_graph.describe()

             item_id         q_rel
count   11962.000000  11962.000000
mean   313626.362230     43.706654
std    118460.366872     25.503999
min       125.000000     12.000000
25%    275562.750000     21.000000
50%    340203.500000     38.000000
75%    385576.250000     63.000000
max    542863.000000    100.000000

In [ ]:
nodes = df_graph['item_id'].unique()

In [ ]:
nodes